@model PaginationVM<Introdaction>

@{
    int count = (Model.CurrentPage - 1) * 5;
}

<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Introdaction</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <div class="d-md-flex">
                <ol class="breadcrumb ms-auto">
                    <li><a asp-action="Index" asp-controller="Dashboard" class="fw-normal">Dashboard</a></li>
                </ol>
                <a asp-action="Create" target="_blank"
                   class="btn btn-success  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">
                   Create
                </a>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Introdaction</h3>
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0">#</th>
                                <th class="border-top-0"> Icon</th>
                                <th class="border-top-0"> Title</th>
                                <th class="border-top-0">Description</th>
                                <th class="border-top-0">Settings</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model.Introdactions){

                            <tr>
                                <td>@(++count)</td>
                                <td>@item.IconName</td>
                                <td>@item.Title</td>  
                                <td>@item.Description</td>
                                <td>
                                    <a asp-action="Read" asp-controller="Introdaction" asp-route-id="@item.Id"><button class="btn btn-info">Details</button></a>

                                    <a asp-action="Update" asp-controller="Introdaction" asp-route-id="@item.Id"><button class="btn btn-warning">Edit</button></a>

                                        <form method="post" asp-action="Delete"  asp-route-id="@item.Id">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            }
                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <nav aria-label="...">
            <ul class="pagination pagination-lg">
                @for(int i=1; i<=Model.PageCount;i++){

                <li class="page-item @(i==Model.CurrentPage ? "disabled": "")">
                    <a class="page-link" asp-route-page="@i" tabindex="-1">@i</a>
                </li>
                }
            </ul>
        </nav>
    </div>
</div>